@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #920000;
    color: #333333;
}

menu {
    display: none
}