@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url('img/back-tablet.jpg');

    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }


}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image: url('img/back-pc.jpg');

    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#pc {
        display: block;
    }
}

@media screen and (min-width: 1201px) {
    body {
        background-image: url('img/back-tv.jpg');

    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}