@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --1-color: #151518;
    --2-color: #000000;
    --txt-color: #ffffff;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--txt-color);
    color: var(--txt-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
}